@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply motion-safe:scroll-smooth;
}

.grecaptcha-badge {
  visibility: hidden;
}

.headroom {
  @apply bg-emerald-900;
}

/* Works on Firefox */

* {
  --thumbColor: #d1fae5;
  --trackColor: #374151;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbColor);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--trackColor);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--thumbColor);
  border-radius: 20px;
  border: 3px solid var(--trackColor);
}
